@keyframes ldio-6yq06php2x3 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.ldio-6yq06php2x3 div {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 10px solid #93dbe9;
    border-top-color: transparent;
    border-radius: 50%;
}

.ldio-6yq06php2x3 div {
    animation: ldio-6yq06php2x3 1s linear infinite;
    top: 50px;
    left: 50px
}

.loadingio-spinner-rolling-5p62x1oadv7 {
    width: 40px;
    height: 40px;
    overflow: hidden;
    margin: 0 auto;
}

.ldio-6yq06php2x3 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.4);
    backface-visibility: hidden;
    transform-origin: 0 0;
}

.ldio-6yq06php2x3 div {
    box-sizing: content-box;
}